<section id="welcome">
  <div class="intro">
    <h1>{{ section.settings.welcome_title }}</h1>
    <p>{{ section.settings.welcome_message }}</p>
    <img class="small-img" src="{{ 'bozilady_logo.png' | asset_url }}" alt="logo_image">
  </div>
</section>

{% schema %}
{
  "name": "Welcome",
  "settings": [
    {
      "type": "header",
      "content": "Welcome Message"
    },
    {
      "type": "text",
      "id": "welcome_title",
      "label": "Enter a title for welcome message",
      "default": "Welcome to Bozilady Wellness!"
    },
    {
      "type": "textarea",
      "id": "welcome_message",
      "label": "Enter message for new visitors",
      "default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    }
  ],
  "presets": [
    {
      "name": "Welcome",
      "category": "Text"
    }
  ]
}
{% endschema %}
